<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.mg.special" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Мужичок-грузовичок Спецтехника</name>
    <description>
        Приложение сайта мужичок-грузовичок.рф
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-compileSdkVersion" value="26" />
    <plugin name="onesignal-cordova-plugin" spec="^2.4.1" source="npm" />
    <content src="index.html" />
    <access origin="*" />
</widget>
